@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)
  @foreach (var join in Model.JoinEntities)
  {
      @Html.Hidden("joinId", @join.EngineerMachineId)
  }

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  @Html.Label("Select machine")
  @Html.DropDownList("MachineId", "N/A")

  <input type="submit" value="Save" />
}

<p>Backt to @Html.ActionLink("Engineer List", "Index")</p>